@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: "rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    padding: 0;
}

/* Pages */

.main-header {
    display: flex;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 19px;
    flex-direction: column;
    align-content: center;
    color: #000000;
    background-color: #FFFFFF;
}

.logo {
    display: block;
    width: 100%;
    max-width: 1040px;
    height: 36px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
}

.header-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
}

.menu-form {
    display: flex;
    height: 40px;
    margin: 0 auto;
    align-content: center;
    background-color: #FFFFFF;
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #000000;
    text-align: center;
}

.menu-form-input {
    display: flex;
    width: 359px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 50px 0 0 50px;
    align-content: center;
    background-color: #FFFFFF;
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    align-items: center;
    padding: 0;
}

.menu-form-button {
    display: flex;
    width: 160px;
    border: 2px solid #000000;
    border-radius: 0 50px 50px 0;
    border-left: transparent;
    padding-left: 10px;
    background-color: #FFFFFF;
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.login {
    display: flex;
    flex-grow: 0;
    margin: 0 auto;
    padding-left: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 12px;
    column-gap: 12px;
    padding: 0;
    list-style-type: none;
    width: calc(100% - 519px);
    align-items: center;
}

.user-menu-li-fr {
    display: flex;
    margin-right: auto;
}

.user-menu-link {
    font-family: "rubik", sans-serif;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: none;
}

.side {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    flex-grow: 0;
    margin: 0 auto;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    column-gap: 12px;
}


.navigation-link {
    font-family: "raleway", sans-serif;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1040px;
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    flex-wrap: wrap;
    flex-grow: 0;
    margin: 0 auto;
    align-items: center;
}

.dropbtn {
    appearance: none;
    display: flex;
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    text-align: left;
    border: none;
    padding: 0;
    background-color: inherit;
    flex-direction: row;
    flex-grow: 0;
    margin: 0;
    justify-content: flex-start;
}

.dropdown-content {
    display: none;
}

.navigation-link-box {
    display: flex;
    margin: 0 auto;
    margin-right: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 45px;
}

/*Style links inside the dropdown menu columns*/
.column a {
    font-family: "rubik", sans-serif;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: none;
    float: none;
    text-align: left;
    display: block;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

.title {
    font-family: "rubik", sans-serif;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-transform: none;
}


.visually-hidden {
    display: none;
}

.advantages-number-title {
    font-family: "rubik";
    line-height: 30px;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
}

.slideshow-container {
    display: flex;
    max-width: 1160px;
    margin: auto;
    position: relative;
}

.slide-one {
    display: flex;
    margin: auto;

}

.slide-two {
    display: none;
}

.slide-three {
    display: none;
}

.slide-right-column {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin-left: 40px;
    margin-top: 121px;
}

.advantages-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.slider-button {
    margin: 0;
    border: none;
    padding: 0;
}

.slider-title {
    padding-bottom: 29px;
    margin: 0;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.slider-text {
    padding-bottom: 51px;
    margin: 0;
}

.advantages-number-title {
    padding-bottom: 12px;
    margin: 0;
}

.slider-more-button {
    padding-bottom: 49px;
}

/*Catalog with icons on yellow*/

.main-category-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.main-category-link {
    text-decoration: none;
}

.main-category-text {
    font-family: "raleway";
    line-height: 24px;
    font-size: 13px;
    font-weight: 800;
    color: #000000;
    letter-spacing: -0.32px;
}

/*Vertical tabs*/
.vertical-tabbar {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 70px;
}

.tab {
    display: flex;
    flex-direction: column;
    max-width: 287px;
    max-height: 319px;
    order: 0;
    flex-grow: 0;
    align-items: flex-start;
    justify-content: space-around;
    gap: 35px;
}

.tablinks {
    appearance: none;
    display: inline-block;
    flex-wrap: wrap;
    border: none;
    text-align: center;
    padding: 0;
    width: 152px;
    height: 20px;
}

.tabcontent {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    padding: 0;
    margin-top: 72.5px;
    margin-bottom: 72.5px;
    margin-right: 63px;
    margin-left: 116px;
}

.tabcontent-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding-bottom: 34px;
}

.tabcontent-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 452px;
    margin: 0;
}

.warranty {
    display: none;
}

.credit {
    display: none;
}

/*big delivery button*/

.big-delivery-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 1160px;
    max-height: 100px;
    background-color: #F0F0F0;
}

.delivery-button {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    justify-content: center;
    max-width: 910px;
    max-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 125px;
    padding-right: 125px;
}


.contacts-phone-body {
    font-family: "rubik";
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #444444
}

.about-contacts {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    max-width: 1160px;
    margin-bottom: 70px;
    margin-top: 70px;
    gap: 108px
}

.aboutus {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
}

.aboutus-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding-bottom: 48px;
}

.aboutus-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.aboutus-text > p {
    padding-bottom: 30px;
}

.aboutus-delivery-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    list-style-type: none;
    line-height: 20px;
    justify-content: space-evenly;
}

.contacts-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding-bottom: 48px;
}

.contacts-subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 15px;
}

.contacts-schedule {
    list-style-type: none;
    padding: 0;
}

.contacts {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
}


.newsletter {
    background-color: #F0F0F0;
    padding: 0;
    padding-top: 64px;
    padding-left: 147px;
    padding-right: 133px;
    padding-bottom: 56px;
}

.newsletter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.newsletter-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

.newsletter-form-text {
    margin: 0;
    padding: 0;
}

.newsletter-form-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 144px;
}

/*Footer*/
.page-footer {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #444444;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    margin-top: 62px;
    margin-bottom: 61px;
    justify-content: space-between;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    max-width: 239px;
}


.footer-menu-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 35px;
}

.footer-social-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 137px;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address-text {
    font-family: "rubik";
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.buttonlink {
    font-family: "raleway";
    line-height: 21px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-phone-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 116px;
    align-items: flex-start;
    margin-top: 140px;
}

.contacts-phone {
    font-family: "rubik";
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

/*Catalog page*/

.inner-header-title {
    font-family: "raleway";
    line-height: 50px;
    font-weight: 800;
    font-size: 50px;
    text-align: left;
    color: #000000;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.inner-header {
    display: flex;
    flex-direction: column;
    max-width: 1079px;
    margin: 0;
    margin-left: 200px;
    margin-bottom: 35px;
}

.breadcrumbs {
    color: #000000;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    padding: 0;
    gap: 16px;
    list-style-type: none;

}

.breadcrumbs-link {
    color: inherit;
    display: flex;
    text-decoration: none;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: none;
    align-items: flex-start;
    padding: 0 0 0 60px;
    gap: 35px;
    max-width: 320px;
}

.catalog-filter-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 25px;
}

.sorting-continer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 167px;
    margin: 0;
    max-width: 840px;
    max-height: 70px;
}


.area-lable {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}

.select-control {
    background-color: transparent;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: hsl(0, 0%, 0%);
}

.catalog-right-column-productbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 840px;
    margin: 0;
    padding: 70px 40px 0;
    background-color: #FFFFFF;
    padding-bottom: 78px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    list-style-type: none;
    padding: 0;
    gap: 40px;
    margin: 0, 0, 44px;
    flex-grow: 0;
    background-color: #FFFFFF;
}

.catalog-products-monopods {
    display: flex;
    background-color: #F0F0F0;
}

.catalog-filter-title {
    font-family: "raleway";
    line-height: 18px;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}

.product-block {
    background-color: #F0F0F0;
    display: flex;
    flex-wrap: wrap;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    display: flex;
    font-family: "rubik";
    line-height: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-align: left;
}

.product-card-price {
    font-family: "rubik";
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    text-align: right;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product-card-image {
    margin: 0;
}


.product-card-loadmore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 39px;
    width: 100%;
    max-width: 760px;
    max-height: 55px;
    border: 3px solid #E5E5E5;
    margin-bottom: 44px;
    margin-top: 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: transparent;
}

.pagination-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 760px;
    max-height: 71px;
    background: #EBEBEB;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination-link {
    color: #444444;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    justify-content: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    opacity: 0.3;

}

.pagination-item {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination-backward {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}

.pagination-forward {
    background-color: transparent;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
